<html>
    <head>
        <title>Message Details</title>
    </head>
    <body>
        <p>Sender: <%= message.username %> | Message: <%= message.text %> | Date: <%= message.added %></p>
        <% if (back) { %>
            <%- include('backButton'); %>
        <% } %>
    </body>
</html>